.nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 15vh;
    width: 100%;
    position: absolute;
    padding: 0 2em;
    box-sizing: border-box;
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 3em;
}

.nav-icon{
    width: 2em;
    height: 2em;
    cursor: pointer;
    color: var(--clr-dark)
}

.nav-profile{
    width: 4em;
    height: 4em;
    border-radius: 2em;
    background-color: var(--clr-dark);
    cursor: pointer;
}