.footer{
    width: 95%;
    height: 5em;
    align-items: center;
    padding: 0 2.5%;
}

.footer-separator{
    height: 2px;
    margin-bottom: 1em;
    background-color: var(--clr-dark);
}

.footer-text{
    display: flex;
    justify-content: space-between;
}

.footer-name{
    font-size: 15px;
}

.footer-date{
    font-size: 10px;
    text-align: right;
    right: 0;
}