@font-face {
  font-family: 'iAWriter';
  src: url('./assets//fonts/iAWriterDuospace-Regular.otf');
  font-weight: normal;
  font-style: normal;
}


*{
  margin: 0;
  padding: 0;
  border: 0;

  /*custom properties */
  /* colours */
  --clr-dark: #151640;
  --clr-light: #e6f2ef;
  --clr-h1: #f783b0;
  --clr-h2: #3f6d9e;

  /* fonts */
  --fs-h1: 35px;
  --fs-h2: 25px;
  --fs-h3: 20px;
  --fs-body: 15px;

  font-family: "iAWriter";

  

}

h1{
  font-size: var(--fs-h1);
  color: var(--clr-dark);
}

h2{
  font-size: var(--fs-h2);
  color: var(--clr-dark);
}

h3{
  font-size: var(--fs-h3);
  color: var(--clr-dark);
}

body {
  font-size: var(--fs-body);
  color: var(--clr-dark);
}

p{
  font-size: var(--fs-body);
  color: var(--clr-dark);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
	background: var(--clr-h1);
    
  width: 8em;
  height: 3em;
	color: inherit;
	padding: 0;
	font: inherit;
	outline: inherit;
  border-radius: 10px !important;
}


@media screen and (max-width: 720px) {
  *{
    --fs-h1: 20px;
    --fs-h2: 15px;
    --fs-h3: 10px;
    --fs-body: 10px;
  }

}
